<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lqs.mapper.RoleMenuMapper">

    <insert id="insertRoleMenu">
        insert into sys_role_menu(role_id, menu_id)
        VALUES
        <foreach collection="menuIds" item="menuId" separator=",">
            (#{id},#{menuId})
        </foreach>
    </insert>
    <delete id="deleteRoleMenuByRoleId">
        delete from sys_role_menu where role_id = #{id}
    </delete>
    <select id="getMenuIdByRoleId" resultType="java.lang.Long">
        select menu_id from sys_role_menu where role_id = #{id}
    </select>

</mapper>
